@use '../../styles/mixins/var' as *;
@use '../../styles/mixins/bem' as *;
@use '../../styles/mixins/function' as *;
@use '../../styles/config' as *;
@use '../../global/theme/vars/component' as *;

@include b(menu) {
  @include e(item) {
    display: flex;
    align-items: center;
    height: getCssVar('menu-item-height');
    line-height: getCssVar('menu-item-height');
    font-size: getCssVar('menu-item-font-size');
    color: getCssVar('menu-text-color');
    padding: 0 getCssVar('menu-base-level-padding');
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    white-space: nowrap;
    list-style: none;
    transition: color getCssVar('transition-duration-fast'),
                background-color getCssVar('transition-duration-fast');

    &:hover {
      background-color: getCssVar('menu-hover-bg-color');
      color: getCssVar('menu-active-color');
    }

    @include when(active) {
      background-color: getCssVar('menu-hover-bg-color');
      color: getCssVar('menu-active-color');
    }

    @include when(disabled) {
      opacity: 0.25;
      cursor: not-allowed;
      background: none !important;
      color: getCssVar('menu-text-color') !important;
    }
  }
}
