@use '../../styles/mixins/var' as *;
@use '../../styles/mixins/bem' as *;
@use '../../styles/mixins/function' as *;
@use '../../styles/config' as *;
@use '../../global/theme/vars/component' as *;

@include b(menu) {
  @include e(item-group) {
    @include be(item-group, title) {
      padding: 7px 0 7px getCssVar('menu-base-level-padding');
      font-size: 12px;
      color: getCssVar('text-color-secondary');
      line-height: normal;
    }
  }

  // Collapse mode: hide group title
  @include m(collapse) {
    @include e(item-group) {
      @include be(item-group, title) {
        display: none;
      }
    }
  }
}
