@use '../../styles/config' as *;
@use '../../styles/mixins/var' as *;
@use '../../styles/mixins/function' as *;
@use '../../styles/mixins/bem' as *;
@use '../../global/theme/vars/color/light' as *;
@use '../../global/theme/vars/component' as *;
@use '../../global/theme/vars/common' as *;

@include b(avatar-group) {
  @include set-component-css-var('avatar-group', $avatar-group);

  display: inline-flex;

  .#{$namespace}-avatar {
    border: 1px solid getCssVar('border-color-extra-light');
  }

  .#{$namespace}-avatar:not(:first-child) {
    margin-left: getCssVar('avatar-group', 'item-gap');
  }

  &-tippy {
    margin-left: getCssVar('avatar-group', 'item-gap');
  }

  @include e(collapse-avatars) {
    @include set-component-css-var('avatar-group', $avatar-group);

    .#{$namespace}-avatar:not(:first-child) {
      margin-left: getCssVar('avatar-group', 'collapse-item-gap');
    }
  }
}
